@model List<MyMusicApp.Models.ArtistModel>

@{
    ViewBag.Title = "Index";
}

<h2>Artists</h2>
<button>Add</button>
<table>
    <tr>
        <th>Name</th>
        <th>Modify?</th>
    </tr>
    <tr>
        <td>Bon Jovi</td>
        <td>
            <button>Edit</button>
            <button>Delete</button>
        </td>
    </tr>
</table>