@model IEnumerable<MyMusicApp.Models.ArtistModel>

@{
    ViewBag.Title = "Index";
}

<h2>Artists</h2>
<button>Add</button>
<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>Modify?</th>
    </tr>
    <tr>
        <td>Bon Jovi</td>
        <td>
            <button>Edit</button>
            <button>Delete</button>
        </td>
    </tr>
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <button id="open-edit-artist-modal">Edit</button>
            <button id="open-delete-artist-modal">Delete</button>
        </td>
    </tr>
    }
</table>