@{
    ViewBag.Title = "KoSample";
}

<h2>KoSample</h2>
<script src="~/Scripts/knockout-2.2.0.debug.js"></script>
<script src="~/Scripts/knockout.mapping-latest.debug.js"></script>


<h2>Artists</h2>

<div data-bind="template: { name: 'person-template', foreach: artists }"></div>

<script type="text/html" id="person-template">
    <h3 data-bind="text: Name"></h3>
    <p>Id: <span data-bind="text: ArtistId"></span></p>
</script>
 
<script type="text/javascript">
    function MyViewModel() {
        this.artists = [
            { Name: 'Bobby', ArtistId: 350 },
            { Name: 'Mario', ArtistId: 5800 }
        ]
    }
    ko.applyBindings(new MyViewModel());
</script>